.socialLinks {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   min-height: calc(72px - 8px);
   height: fit-content;
   gap: .5rem;
   padding: 8px 15px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border: 1px solid #d3d3d3;
   border-radius: 1rem;
   // background-color: red;
   // height: fit-content;
}

.socialLinks a {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3px 6px;
   cursor: pointer;
   // background-color: #0A66C2;
}

.socialLinks a:hover {
   transform: scale(1.2);
   transition: transform .3s;
}

.legend {
   padding: 0px 8px;
   // margin-left: calc(50% - 35px - 8px);
   /* bottom: 0; */
   font-family: var(--font-text);
   font-size: 1.3rem;
   font-weight: 300;
}

.linkedin:hover path {
   fill: #0A66C2 !important;
}

.github:hover path {
   fill: #a720a7 !important;
}

.vitrinedev:hover path {
   fill: #67D5E7 !important;
}

@media screen and (max-width: 768px) {
   .socialLinks {
      flex-grow: 1.5;
   }

   .legend {
      margin-left: calc(50% - 35px - 8px);
   }
}