@import 'globalVariables';

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: $font-text;
}


body {
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 1600px;
  float: none;
  position: relative;
  min-height: 100vh;
  background-color: $bg-light-color;

  -youbkit-touch-callout: none;
  -youbkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  a {
    color: $text-light-color;
  }
}

.header,
.banner,
.about,
.projects,
.footer {
  padding: 0 5%;
}

#legendTheme::before {
  content: "Claro";
}

.dark {

  body {
    background: radial-gradient(circle at center center, $bg-dark-color, $bg-dark-color), repeating-radial-gradient(circle at center center, #d3d3d3, #d3d3d3, 4px, transparent 8px, transparent 4px);
    background-blend-mode: multiply;
  }

  .icon path,
  .iconT2 {
    fill: $pure-white !important;
  }

  .iconT3 path {
    stroke: $pure-white;
  }

  #legendTheme::before {
    content: "Escuro";
  }

  .toggleButton {
    background-color: $bg-light-color;
  }

  .slider {
    left: 27px;
    background-color: $bg-dark-color;
  }

  .header,
  .headerMobile,
  .banner,
  .about,
  .projects,
  .footer,
  .projects span,
  a {
    color: $text-dark-color;
  }

  .logo span {
    border-left-color: $pure-white;
  }

  .over {
    color: $primary-color;
    font-weight: 800;
  }

  .about,
  .projects,
  .footer {
    background-color: transparent;
  }

  .cardProject {
    background-color: $bg-dark-card-color;
    border: none;
  }

  .header.scrolling,
  .headerMobile,
  #menuMobile {
    background-color: $bg-dark-header-color;
  }

  #burgerMenu span {
    background-color: $text-dark-color;
  }

  .home {
    background-image: url('../assets/images/bg-dark-image.png');

    .banner {
      background-color: $bg-banner-dark-color;
    }
  }
}

.about,
.projects,
.footer {
  background-color: $bg-light-color;
}

.notFound {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .notFoundHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 110px;
  }
}

.notFoundContent {
  flex-grow: 1;
  background-color: green;
}

.header.scrolling {
  background-color: $pure-white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: $primary-color;
  border-radius: .5rem;
}

.header,
.headerMobile {
  margin: 0 auto;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 110px;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 0 5%;
  transition: 1s;
}

.loadingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $bg-light-color;
}

.loading {
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  animation: loadingAnimate .5s linear infinite;
  border-top: 3px solid $pure-black;
}

@keyframes loadingAnimate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.headerMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  #header {
    display: none;
  }

  .headerMobile {
    display: initial;
  }

  .headerMobile.scrolling {
    height: 110px;
  }

  .scrolling .navbar {
    opacity: 1;
    visibility: visible;
  }

  .dark {

    .home {
      .banner {
        background-color: transparent;
      }
    }

    .apresentation {
      &::before {
        background-color: $bg-banner-dark-color !important;
      }
    }
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Neuropolitical";
  src: url("../../public/assets/fonts/Neuropolitical/neuropolitical.otf");
}